/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: inherit;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fin reset css */
/* Variables */
/* colors */
/* header */
/*  */
/*  */
/*  */
/*pied de page*/
/*fond localisation*/
/*fond wrapper*/
/*icons gris*/
/* Fonts */
/* font squirrel */
/* google fonts */
/* mixins */
/*  */
html {
  width: 100%;
  font-family: Roboto;
  text-align: center;
}

#main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
  font-family: shrikhandregular;
  background-color: white;
  font-size: 3rem;
}

.wrapper {
  width: 100%;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__intro {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.wrapper__intro__p1 {
  background-color: #eaeaea;
  color: black;
  height: 16px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 599;
}

.wrapper__intro__p1 i {
  margin-right: 10px;
}

.wrapper__intro__p2 {
  padding-top: 20px;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 700;
  font-size: 1.2rem;
}

.wrapper__intro__p3 {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.wrapper__intro__p4 {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 60%;
  height: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 23px 23px 23px 23px;
  -webkit-box-shadow: 0px 3px 3px #bababa;
          box-shadow: 0px 3px 3px #bababa;
}

.wrapper__hiw {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  background-color: white;
}

.wrapper__hiw > h1 {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 700;
  font-size: 1.2rem;
}

.wrapper__hiw ol {
  margin-left: 5%;
  width: 95%;
  text-align: left;
}

.wrapper__hiw ol i {
  margin-right: 15px;
  margin-left: 20px;
}

.wrapper__hiw ol li {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f6f6f6;
  color: black;
  height: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 18px 18px 18px 18px;
  -webkit-box-shadow: 0px 4px 4px #eaeaea;
          box-shadow: 0px 4px 4px #eaeaea;
}

.wrapper__hiw ol li i {
  color: #bababa;
}

.wrapper__restaurants {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.wrapper__restaurants article {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f6f6f6;
}

.wrapper__restaurants__photo {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.wrapper__restaurants__text {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 0px 0px 15px 15px;
}

.wrapper__restaurants__text__left {
  width: 65%;
  margin-left: 5%;
}

.wrapper__restaurants__text__left h1 {
  font-weight: 700;
  font-size: 1.2rem;
}

.wrapper__restaurants__text__right {
  margin-top: auto;
  margin-bottom: auto;
  width: 25%;
  text-align: right;
  margin-right: 5%;
}

.wrapper__restaurants > h1 {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 700;
  font-size: 1.2rem;
}

.wrapper__restaurants__heart {
  text-align: right;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

footer > h1 {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: shrikhandregular;
}

footer > h2 {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
}
/*# sourceMappingURL=Style.css.map */