/*
dans utils/, vous rangez vos variables, fonctions, mixins 
et les  %placeholders pour les extensions (si vous en utilisez) ;
*/

/* Variables */

/* colors */
$color0 :white; /* header */
$color1 : #9356DC; /*  */
$color2 : #FF79DA; /*  */
$color3 : #99E2D0; /*  */
$color4 : #353535; /*pied de page*/
$color5 :#eaeaea; /*fond localisation*/
$color6 :#f6f6f6; /*fond wrapper*/
$color7 : #bababa; /*icons gris*/
$color8: black;

/* Fonts */
$logo :shrikhandregular; /* font squirrel */
$text :Roboto; /* google fonts */


/* mixins */
  @mixin margins ($height: 0px ,$width: 5%, $main-width:90%) {
    width: $main-width;
    margin-top: $height;
    margin-bottom: $height;
    margin-left:$width;
    margin-right:$width;
  }


/*  */