/*
pages/ contient les blocs de code qui ne s’appliquent qu’à une seule page. 
Vous utilisez des boutons dans tout votre site, en revanche votre page
d’accueil comporte une section Citation et une grille de projets 
qui ne sont employés nulle part ailleurs. En d’autres termes, pages/ 
contient des règles spécifiques à une seule page qui 
ne seront pas réutilisées ailleurs ;
*/
@import '../04_Layout/Layout.scss';


.wrapper{
    @include flexbox(); 
    @include block_wrapper();
    &__intro{
        @include flexbox;
        text-align: center;
        padding-bottom: 20px;
        &__p1{
            @include btn--loca;         
            i {
                margin-right: 10px;
            }
        }
        &__p2{
            padding-top: 20px;
            @include margins(20px);
            @include font_bold();
        }
        &__p3 {
            @include margins(20px);
        }
        &__p4 {
            @include margins(20px);
            @include btn--violet;
    }
}
    &__hiw {
        padding-top: 10px;
        padding-bottom: 30px;
        >h2 {
            @include margins(20px);
            @include font_bold();
        }
        ol {
            @include margins (0px);
            i {
                margin-right: 15px;
                margin-left: 20px;
            }
        li {
            @include margins(10px);
            @include btn--gris;
            .pastille--violet {
                @include pastille--violet();
            }
            i {
                color: $BackGround_secondary;
            }
        }
    }
}
    &__restaurants {
        @include flexbox;
        background-color: lighten($BackGround_secondary, 20%);
        padding-top: 20px;
        >h2 {
            @include margins(10px);
            @include font_bold();
        article {
            @include margins(10px);
            .btn--new {
                @include btn--new();
            }
        } 
        &__photo {  
            border-radius:15px 15px 0px 0px;
        }
        &__text {
            @include flexbox(row,center,center,wrap);
            border-radius:0px 0px 15px 15px; 
            box-shadow: 0 -4px $BackGround_primary;
            &__left {
                width: 65%;
                margin-left: 5%;
                h3{
                    @include font_bold();                  
                }
                h4{
                    font-weight: 400;
                    font-size: 1.2rem; 
                }
            }
            &__right{
                margin-top: auto;
                margin-bottom:auto;
                width: 25%;
                text-align: right;
                margin-right: 5%;
            }
        }
    &__heart{
        text-align :right;
    }
}
}
}